# Virtual Environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# Colab files
gdrive/

# Data files
data/
credentials.json
*.csv

# Kaggle Credentials
.kaggle/

# --- Large/Processed Data and Artifacts ---
processed_data/
*.npy
*.csv
*.zip
*.json.zip

# --- Model Artifacts ---
*.h5
*.keras
*.pb
saved_model/