# Core ML/CV Libraries (adjusting versions to ensure stability)
tensorflow==2.19.0 
keras==3.11.3 
mediapipe
opencv-python
numpy<2.1  # To satisfy numba/other potential conflicts
pillow<12.0 # To satisfy gradio/other potential conflicts
protobuf<6.0.0dev # To satisfy grpcio-status/google-ai-generativelanguage

# Data Science and Notebook Utilities
scikit-learn
matplotlib
seaborn
pandas

# External Tool for Data Acquisition
kaggle